<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://func-dev2-ksdyr5dofiybe.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1d1f5eb7-70bf-4812-b529-4727dfb2e58f/resourceGroups/rg-dev2/providers/Microsoft.Web/sites/func-dev2-ksdyr5dofiybe</ResourceId>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <PublishUrl>https://func-dev2-ksdyr5dofiybe.scm.azurewebsites.net/</PublishUrl>
    <UserName>$func-dev2-ksdyr5dofiybe</UserName>
  </PropertyGroup>
</Project>